deepgram_sdk==3.11.0
fastapi
httpx
langchain
langchain_community
langchain_core
langchain_google_genai
pydantic
python-dotenv
Requests
streamlit
streamlit_mic_recorder
uvicorn[standard] # [standard] includes gunicorn, ujson, etc. for production
python-dotenv
httpx
pydantic
faiss-cpu
python-multipart
